#!/usr/bin/env bash

set -eu -o pipefail

# never use any remote context
export DOCKER_CONTEXT="rootless"

docker container run \
	--rm \
	-v "${PWD}/:/aws/" \
	-v "${HOME}/.aws/:/root/.aws/" \
	-e AWS_DEFAULT_REGION="${AWS_DEFAULT_REGION}" \
	-e AWS_REGION="${AWS_REGION}" \
	-e AWS_SESSION_EXPIRATION="${AWS_SESSION_EXPIRATION}" \
	-e AWS_SECRET_ACCESS_KEY="${AWS_SECRET_ACCESS_KEY}" \
	-e AWS_ACCESS_KEY_ID="${AWS_ACCESS_KEY_ID}" \
	-e AWS_SESSION_TOKEN="${AWS_SESSION_TOKEN}" \
	amazon/aws-cli:latest "$@"
