#!/usr/bin/env bash

set -eu -o pipefail

docker container run \
    --rm \
    --workdir "/az" \
    -v "${PWD}/:/az" \
    -v "${HOME}/.azure/:/root/.azure/" \
    mcr.microsoft.com/azure-cli:latest az "$@"

