# shellcheck shell=bash
powerline-daemon -q

# shellcheck disable=SC2034
POWERLINE_BASH_CONTINUATION=1
# shellcheck disable=SC2034
POWERLINE_BASH_SELECT=1

# shellcheck source=/usr/share/powerline/bindings/bash/powerline.sh
. /usr/share/powerline/bindings/bash/powerline.sh

# local path
PATH=~/.local/bin/:${PATH}

# fzf
# shellcheck source=/home/frezbo/.fzf.bash
[ -f ~/.fzf.bash ] && source ~/.fzf.bash

# GO PATH
PATH=~/.local/bin/go/bin:${PATH}
GOPATH=~/work/golang

# Pulumi PATH
PATH=~/.local/bin/pulumi:${PATH}

# Docker PATH
PATH=~/.local/bin/docker:${PATH}

# add Krew
PATH=~/.krew/bin:${PATH}

# direnv
eval "$(direnv hook bash)"

export GOPATH
export PATH

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
alias p='pushd .'
alias g='popd'
alias d='dirs -v'
alias code='codium'
alias gs='git status'
alias gd='git diff'
alias gcm='git commit'

# kubectl bash completion
source <(kubectl completion bash)

# helm bash completion
source <(helm completion bash)

# docker bash completion
source ~/.docker-completion.sh

# GitHub cli bash completion
eval "$(gh completion -s bash)"
