# Golang
PATH="${PATH}:/home/{{ user }}/.local/bin/go/bin"
PATH="${PATH}:/home/{{ user }}/work/golang/bin"

# Node PATH
PATH="${PATH}:/home/{{ user }}/.local/bin/node/bin"

# rust PATH
PATH="${PATH}:/home/{{ user }}/.cargo/bin"

# Pulumi PATH
PATH="${PATH}:/home/{{ user }}/.local/bin/pulumi"

# Docker PATH
PATH="${PATH}:/home/{{ user }}/.local/bin/docker"

export PATH
