# Golang
PATH="${PATH}:/home/{{ user }}/work/golang/bin"

# Node PATH
PATH="${PATH}:/home/{{ user }}/.local/bin/node/bin"

# aqua-proj
PATH="/home/{{ user }}/.local/share/aquaproj-aqua/bin:${PATH}"

export PATH
