add_newline = false

[cmd_duration]
show_milliseconds = true

[directory.substitutions]
"~/work/golang/src/github.com/frezbo" = "personal"
"~/work/golang" = "gopath"

[git_metrics]
disabled = false

[golang]
disabled = true

[jobs]
threshold = 1

[kubernetes]
disabled = false

[memory_usage]
disabled = false

[shlvl]
disabled = false
# threshold = 1

[status]
disabled = false

[gcloud]
symbol = "️🇬️  "
format = 'on [$symbol(\($project\)\[$region\])]($style) '
