add_newline = false

[cmd_duration]
show_milliseconds = true

[directory.substitutions]
"~/work/golang/src/github.com/frezbo" = "personal"
"~/work/golang" = "gopath"

[git_branch]
always_show_remote=true
format = "on [$symbol$remote_name/$branch]($style) "

[golang]
disabled = true

[jobs]
threshold = 1

[kubernetes]
disabled = false

[line_break]
disabled = true

[status]
disabled = false
